{% extends 'base_template.html' %}
{% block title %}View - Recipes Haven{% endblock %}
{% block content %}
    <section class="section my-2">
        <div class="page-header my-2">
            <h4 class="text-body mb-2">Our Recipes</h4>
            <a href="/" class="text-body"><i class="fa-solid fa-arrow-left"></i> Back to Main Menu</a>
        </div>
        <div class="row spaced-row menu-options mt-4">
            <div class="col-xl-3 col-md-3 menu-button-div">
                <a class="export-button">Export Recipes</a>
            </div>
        </div>
    </section>
{% endblock %}