{% extends 'base_template.html' %}
{% block title %}View - Recipes Haven{% endblock %}
{% block content %}
    <section class="section my-2">
        <div class="page-header my-2">
            <h4 class="text-body mb-2">Here you can Import and Export your favourite recipes with single click</h4>
            <a href="/" class="text-body"><i class="fa-solid fa-arrow-left"></i> Back to Main Menu</a>
        </div>
        <div class="row spaced-row" style="column-gap: 1.0rem;">
            <div class="col-xl-4 bordered-card my-2">
                <div>
                    <h5>IMPORT RECIPES</h5>
                    <div class="mt-2">
                        <img src="https://cdn.icon-icons.com/icons2/2621/PNG/512/gui_import_icon_157125.png"
                             alt="import" width="180px" style="border-radius: 1.5rem">
                    </div>
                    <div class="mt-3">
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <input type="file" name="file" id="file" style="height: 40px;"/>
{#                            <a class="menu-button">Upload</a>#}
                            <br></br>
                            <input type="submit" value="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row spaced-row" style="column-gap: 1.0rem;">
            <div class="col-xl-4 bordered-card my-2">
                <div>
                    <h5>EXPORT RECIPES</h5>
                    <div class="mt-2">
                        <img src="https://cdn.icon-icons.com/icons2/523/PNG/512/export_icon-icons.com_52383.png"
                             alt="export" width="180px" style="border-radius: 1.5rem">
                    </div>
                    <div class="mt-3">
                        <a class="menu-button" href = "{{url_for('recipes_export')}}">Download</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}