{% extends 'base_template.html' %}
{% block title %}View - Recipes Haven{% endblock %}
{% block content %}
    <section class="section my-2">
        <div class="page-header my-2">
            <h4 class="text-body mb-2">Our Recipes</h4>
            <a href="/" class="text-body"><i class="fa-solid fa-arrow-left"></i> Back to Main Menu</a>
        </div>
        <div class="row spaced-row" style="column-gap: 1.0rem;">
            {% for recipe in recipes %}
                <div class="col-xl-4 bordered-card my-2">
                    <div>
                        <h5>{{  recipe.name }}</h5>
                        <p class="text-fade">{{ recipe.description }}</p>
                        <div class="badge mb-3">{{ recipe.category }}</div>
                        <div class="mt-2">
                            {% for i in range(recipe.rating) %}
                                <i class="fa-solid fa-star" style="color: #ffc107"></i>
                            {% endfor %}
                            {% for i in range(5-recipe.rating) %}
                                <i class="fa-solid fa-star" style="color: #eaebef"></i>
                            {% endfor %}
                        </div>
                        <div class="mt-3">
                            <a href="/edit/{{ recipe.id }}" class="text-body">
                                <i class="fa-solid fa-pen"></i> Edit
                            </a>
                        </div>
                        <div class="mt-3">
                            <a href="/delete_recipe?id={{recipe.id}}" class="text-body">
                                <i class="fa-solid fa-trash"></i> Delete
                            </a>
                        </div>
                    </div>
                    <div>
                        <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}" width="180px" style="border-radius: 1.5rem">
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}